In [44]:
from _001_main import df_csv

df = df_csv

print(df)

  manager department  revenue  experience period
0    Иван          А    15000           2     Q1
1   Мария          Б    22000           5     Q1
2    Петр          А    17000           3     Q1
3    Анна          В    12000           1     Q1
4  Сергей          Б    25000           4     Q1
5    Иван          А    18000           2     Q2
6   Мария          Б    19000           5     Q2
7    Анна          В    14000           1     Q2
8   Ольга          А    16000           2     Q2

In [ ]:
# УПРАЖНЕНИЕ 1

In [ ]:
# УПРАЖНЕНИЕ 2
import numpy as np

result = df.copy()

result["category"] = np.where(
    df["revenue"] > 20000,
    "VIP",
    np.where(df["revenue"] > 10000, "Standart", "Basic"),
)

result = result[result["category"] == "VIP"].sort_index()

print(result)

  manager department  revenue  experience period category
1   Мария          Б    22000           5     Q1      VIP
4  Сергей          Б    25000           4     Q1      VIP

In [5]:
# УПРАЖНЕНИЕ 3

In [ ]:
# УПРАЖНЕНИЕ 4

  manager department  sales  experience period   bonus
3  Сергей          Б  25000           4     Q1  1200.0
1   Мария          Б  22000           5     Q1  2200.0
5   Мария          Б  19000           5     Q2  1800.0
4    Иван          А  18000           2     Q2  2500.0
2    Петр          А  17000           3     Q1  1700.0
6   Ольга          А  16000           2     Q2  1900.0
0    Иван          А  15000           2     Q1  1500.0

In [31]:
# УПРАЖНЕНИЕ 5
import numpy as np

result_dept = df.groupby("department").agg(
    manager_count=("manager", "count"), total_revenue=("revenue", "sum").reset_index()
)

result_dept["revenue_share"] = (
    result_dept["total_revenue"] / result_dept["total_revenue"].sum()
)

result_dept["avg_per_manager"] = (
    result_dept["total_revenue"] / result_dept["manager_count"]
)

result_dept["high_perfomance"] = np.where(
    result_dept["avg_per_manager"] > 18000, "Yes", "No"
)

result = result_dept.sort_values("total_revenue", ascending=False)

print(result)

AttributeError: 'tuple' object has no attribute 'reset_index'

abcdefgz