In [2]:
from _001_main import df_csv

df = df_csv

print(df)

  manager department  revenue  experience period
0    Иван          А    15000           2     Q1
1   Мария          Б    22000           5     Q1
2    Петр          А    17000           3     Q1
3    Анна          В    12000           1     Q1
4  Сергей          Б    25000           4     Q1
5    Иван          А    18000           2     Q2
6   Мария          Б    19000           5     Q2
7    Анна          В    14000           1     Q2
8   Ольга          А    16000           2     Q2

In [3]:
# УПРАЖНЕНИЕ 1

In [4]:
# УПРАЖНЕНИЕ 2

In [5]:
# УПРАЖНЕНИЕ 3

In [ ]:
# УПРАЖНЕНИЕ 4

  manager department  sales  experience period   bonus
0    Иван          А  15000           2     Q1  1500.0
1   Мария          Б  22000           5     Q1  2200.0
2    Петр          А  17000           3     Q1  1700.0
3  Сергей          Б  25000           4     Q1  2500.0
4    Иван          А  18000           2     Q2  1800.0
5   Мария          Б  19000           5     Q2  1900.0
6   Ольга          А  16000           2     Q2  1600.0

In [7]:
# УПРАЖНЕНИЕ 5