In [29]:
from _001_main import df_csv

df = df_csv

print(df)

  manager department  revenue  experience period
0    Иван          А    15000           2     Q1
1   Мария          Б    22000           5     Q1
2    Петр          А    17000           3     Q1
3    Анна          В    12000           1     Q1
4  Сергей          Б    25000           4     Q1
5    Иван          А    18000           2     Q2
6   Мария          Б    19000           5     Q2
7    Анна          В    14000           1     Q2
8   Ольга          А    16000           2     Q2

In [ ]:
# УПРАЖНЕНИЕ 1
result = (
    df[df["department"].isin(["А", "Б"])]
    .groupby("department")
    .agg({"revenue": "mean"})
    .rename(columns={"revenue": "avg_revenue"})
    .sort_values("avg_revenue", ascending=False)
    .reset_index()[["department", "avg_revenue"]]
)
print(result)

In [ ]:
# УПРАЖНЕНИЕ 2
import numpy as np

df["category"] = np.where(
    df["revenue"] > 20000, "VIP", np.where(df["revenue"] >= 10000, "Standart", "Basic")
)

result = df[df["category"] == "VIP"].sort_values("revenue", ascending=False)
print(result)

In [ ]:
# УПРАЖНЕНИЕ 3
import pandas as pd

sales_1 = df[df["period"] == "Q1"][["manager", "revenue"]].reset_index(drop=True)
sales_2 = df[df["period"] == "Q2"][["manager", "revenue"]].reset_index(drop=True)
# print(f"таблица sales_1:\n{sales_1}\n")
# print(f"таблица sales_2:\n{sales_2}\n")
combined_sales = pd.concat([sales_1, sales_2])
print(f"таблица combined_sales:\n{combined_sales}\n")

result = (
    combined_sales.groupby("manager")
    .agg(total_revenue=("revenue", "sum"))
    .reset_index()
)
print(result)

In [22]:
# УПРАЖНЕНИЕ 4
result = df[(df["experience"] >= 2) & (df["department"].isin(["А", "Б"]))].copy()
result["bonus"] = result["revenue"] * 0.10
result = result.rename(columns={"revenue": "sales"})
print(result)

  manager department  sales  experience period   bonus
0    Иван          А  15000           2     Q1  1500.0
1   Мария          Б  22000           5     Q1  2200.0
2    Петр          А  17000           3     Q1  1700.0
4  Сергей          Б  25000           4     Q1  2500.0
5    Иван          А  18000           2     Q2  1800.0
6   Мария          Б  19000           5     Q2  1900.0
8   Ольга          А  16000           2     Q2  1600.0

In [31]:
# УПРАЖНЕНИЕ 5
import numpy as np

d_re = (
    df.groupby("department")
    .agg(man_count=("manager", "count"), rev_total=("revenue", "sum"))
    .reset_index()
)

d_re["rev_share"] = d_re["rev_total"] / d_re["rev_total"].sum()
d_re["avg_per_man"] = d_re["rev_total"] / d_re["man_count"]
d_re["high_per"] = np.where(d_re["avg_per_man"] > 18000, "Да", "Нет")
d_re = d_re.sort_values("rev_total", ascending=False)
print(d_re)

  department  man_count  rev_total  rev_share  avg_per_man high_per
0          А          4      66000   0.417722      16500.0      Нет
1          Б          3      66000   0.417722      22000.0       Да
2          В          2      26000   0.164557      13000.0      Нет